# 忽略編譯與快取檔案
**/__pycache__/**
build/
dist/
*.so
*.pyd
*.o
*.c
*.csv
.DS_Store
.env
.trade_env
*.pfx
*.egg-info
db
models/
log/
cache/
models/
model/
*.json
tmp.txt
*.pyc
src/db_models/__pycache__/peewee_models.cpython-313.pyc
*.png
*.pkl
.env
chart*.html
signal*.txt
*.joblib
*.jsonl
*.history
*.db*
*bak
*.md
*.html
*.txt
*.log
*.mp3