huggingface_hub
pandas~=2.3
pyarrow~=24.0
yfinance
requests
python-dotenv
lightgbm
joblib
numpy~=2.2
scikit-learn~=1.8
pandas_ta
sympy
scipy
statsmodels
regex
attrs
websockets
patsy
xgboost
plotly
vectorbt
shioaji
google-genai
qdrant-client
